<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="huangshun.it.com.androiddesignpattern">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".DaggerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".test.IPC.messenger.MessengerService"
            android:process=":remote" />

        <activity android:name=".test.IPC.messenger.MessengerActivity" />

        <service
            android:name=".test.IPC.aidl.BookManagerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".test.IPC.aidl.BookManagerActivity" />
        <activity android:name=".test.handler.HandlerDemoActivity" />
        <activity android:name=".mvp.MVPBaseActivity" />
        <activity android:name=".unit8_7.ZhuangTaiActivity" />
        <activity android:name=".unit8_7.LoginActivity" />
        <activity android:name=".dagger2.demo.Dagger2Activity" />
        <activity android:name=".dagger2.demo.DaggerDifInsActivity" />
        <activity android:name=".unit13_7.MemotoActivity" />
        <activity android:name=".dagger2.demo2.DaggerComponentActivity" />
        <activity android:name=".rxjava.demo2.RxJavaActivity" />
        <activity android:name=".rxjava.demo3.RxSearchActivity" />
        <activity android:name=".rxjava.demo4.RxPicActivity" />
        <activity android:name=".okhttp3.OkHttpActivity" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".test.phonetype.PhoneTypeActivity" />
        <activity android:name=".play.activity.PlayMainActivity"></activity>
    </application>

</manifest>